body {
    background-color: black;
    color: #00FF00;
    font-family: monospace;
    font-size: 1.05em;
}

.cli {
    font-size: 1.75em;
    display: flex;
}

#date, #autocomplete {
    font-size: 0.8em;
    margin-bottom: 0.5em;
    height: 0.8em;
}

#input {
    margin-left: 0.5em;
    font-size: 1em;
    font-weight: 800;
    width: 100%;
    background-color: black;
    border: 0;
    outline: none;
    color: #00FF00;
    font-family: monospace;
    caret-color: #00FF00;
}

#output {
    color: rgb(164, 244, 164);
    white-space: pre-wrap;
}

#tag {
    white-space: pre-wrap;
    font-size: 1vw;
}
